@font-face {
  font-family: "Red Hats Display";
  src: url(../assets/fonts/RedHatDisplay/RedHatDisplay-SemiBold.ttf);
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Red Hats Display", sans-serif;
}

:root {
  --primary-100: #1E2022;
  --primary-200: #34373b;
  --primary-300: #F0F5F9;
  --accent-100: #788189;
  --accent-200: #e1e4e6;
  --text-100: #1E2022;
  --text-200: #52616B;
  --text-300: #f9f9f9;
  --bg-100: #F0F5F9;
  --bg-200: #C9D6DF;
  --bg-300: #bfc7d1;
}

[data-theme="darkMode"] {
  --primary-100: #a9a9a9;
  --primary-200: #808080;
  --primary-300: #696969;
  --accent-100: #c0c0c0;
  --accent-200: #d3d3d3;
  --text-100: #e1dfdd;
  --text-200: #ad9e94;
  --bg-100: #262626;
  --bg-200: #333333;
  --bg-300: #404040;
}

html {
  font-size: 100%;
  background-color: var(--bg-100);
  margin: auto;
  line-height: 1.5em;
}

#logo {
  width: 2em;
  text-indent: -999em;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../assets/images/logo_transparent.png);
  font-size: 3em;
  filter: invert(1);
  line-height: 1.5em;
  margin-left: .5em;
}

#menu {
  margin: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-200);
  border-radius: 30px;
}

#menu ul {
  list-style: none;
  display: inline-flex;
  margin: 0;
  padding: 0;
}

#menu ul li {
  margin-left: .5em;
  margin-right: .5em;
  min-width: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--text-100);
}

#logo:hover {
  filter: invert(0);
}

a:hover {
  text-decoration: none;
  color: var(--bg-100);
}

#breadcrumb {
  display: block;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  position: absolute !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  padding: 0 !important;
  margin: -1px !important;
}


#heading {
  text-align: center;
  width: 70%;
  color: var(--text-100);
  padding: .5em;
}

div#contacts {
  margin: 2em auto;
  width: 35em;
  height: 20em;
  background-color: var(--bg-200);
  border-radius: 30px;
  max-width: 50em;
  min-width: 20em;
}

#contact-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contatti .icon {
  width: 2em;
  height: 2em;
  vertical-align: middle;
  padding: .2em;
}

#contatti li {
  display: block;
  padding-inline: 1em;
  padding-top: 1em;
}

#contatti li a img:hover {
  filter: invert(1);
}

#headingForm {
  text-align: center;
  width: 100%;
  color: var(--text-100);
  padding: .5em;
}

#form {
  width: 35em;
  height: 48em;
  margin: 3em auto;
  background-color: var(--bg-200);
  border-radius: 30px;
  max-width: 50em;
  min-width: 20em;
}

#contact-form {
  width: 70%;
  height: 70%;
  margin: auto;
  max-width: 500px;
  min-width: 300px;
}

#contact-form label {
  display: inline-block;
  margin: .5em;
  width: 100%;
}

#contact-form fieldset {
  border: none;
  text-align: center;
  display: block;
}

#personal label {
  display: inline;
  margin: .5em;
  width: 100%;
}

#contact-form input,
#contact-form textarea {
  display: block;
  width: 100%;
  margin: .5em;
  padding: .5em;
  border-radius: 30px;
  border: 1px solid var(--bg-100);
  background-color: var(--bg-100);
  color: var(--text-100);
  resize: none;
}

placeholder {
  margin: auto 0;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border: 1px solid var(--primary-100);
}

#contact-form input[type="submit"] {
  width: 50%;
  margin: 1em auto;
  padding: .75em;
  border-radius: 30px;
  border: 1px solid var(--bg-100);
  background-color: var(--bg-100);
  color: var(--text-100);
  cursor: pointer;
}

#contact-form input[type="submit"]:hover {
  background-color: var(--primary-100);
  color: var(--bg-100);
}